* {
    margin: 0;
    padding: 0;
}
html, body {
    overflow: hidden;
}

#view {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}
#view canvas {
    width: 100%;
    height: 100%;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    width: calc(80px + 16vmin);
}
#media > div > div {
    width: calc(80px + 16vmin) !important;
    height: calc(45px + 9vmin) !important;
}
#media > div > div.textalive-app-api-banner {
    max-width: initial !important;
    width: 100% !important;
    height: initial !important;
}
